// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$lightblue: #add8e6;

.bottom-border {
  border-bottom: solid 10px black
}

.top-border {
  border-top: solid 20px black
}

a {
  text-decoration: none
}

.background-blue {
  background: $lightblue;
}
